body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    background-color: darkolivegreen;
    text-align: center;
    font-size: 30px;
    color: white;
    padding: 0.25em 1em;
}

nav {
    text-align: center;
    background-color:darkslategrey;
}

nav a {
    color: hsl(0, 0%, 90%);
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    padding: 0.5em 1em;
    transition: 0.4s;
}

nav a:hover {
    background-color: rgb(66, 108, 108);
    color: white;
    transition: 0.4s;
}

nav span {
    color: aquamarine;
    /* font-size: 12px; */
    font-style: italic;
}

main {
    padding: 24px;
    /* using a background image for a style is pretty straightforward */
    /* background-image: url('images/vinyl-record.jpg'); */
}

main img {
    width: 300px;
    float: right;
}

table {
    border-collapse: collapse;
    text-align: left;
    margin-top: 12px;
}

th, td {
    padding: 0.25em 0.5em;
}

th {
    background-color: darkgray;
}

td {
    background-color: lightgray;
}

table span {
    cursor: pointer;
}

table span:hover {
    color: white;
}

.white {
    color: white;
}

footer {
    background-color: darkolivegreen;
    text-align: center;
    font-size: 16px;
    color: white;
    padding: 1em;
}

.album {
    background-color: darkkhaki;
    padding: 1em;
    border-radius: 10px;
    width: 200px;
    height: 350px;
    display: inline-block;
    margin: 0 0.5em 0.5em 0;
    vertical-align: top;
    /* to deal with content that's too big for the box it's in */
    /* you can hide it, let it scroll, let it overflow, etc. */
    /* overflow: hidden; */
}

.album h3, .album h4, .album p, .album ul {
    margin: 0;
}

.album ul {
    padding-left: 1.5em;
}

.album button {
    margin: 0.25em;
}

.album img {
    width: 200px;
}

.error {
    color: red;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
}

form {
    background-color: lightblue;
    border-radius: 10px;
    padding: 1em;
}

form h3 {
    margin: 0 0 0.5em 0;
}

form span {
    padding-left: 1em;
}

form h3 span {
    color: red;
    font-size: 13px;
    font-style: italic;
}

/*mobile table*/
@media (max-width: 640px) {
  header {font-size: 22px;}
  table, thead, tbody, th, td, tr { display: block; }
  thead { display: none; }
  tr { border: 1px solid var(--line); border-radius: var(--radius); margin-bottom: 10px; overflow: hidden; }
  td { border: none; border-bottom: 1px solid var(--line); }
  td::before { content: attr(data-label); font-weight: 600; display: block; margin-bottom: 4px; color: var(--muted); }
}

button, select{
    cursor: pointer
}